aside{
    width: 550px;
    background-color: #f4f4f4;
    padding: 20px;
    border-left: 5px solid #3b82f6;
    border-radius: 10px;
    margin: 20px;
}

aside h2{
    margin-bottom: 15px;
    color: #1e1e2f;
}

aside p{
    color: #444;
    line-height: 1.6;
    text-align: justify;
}