.div1{
    padding: 20px;
    margin: 20px;
    background-color:  rgb(110, 171, 224);
    border-radius: 20px;
}
.div2{
    padding: 20px;
    margin: 20px;
    background-color:  rgb(110, 171, 224);
    border-radius: 20px;
}